<div class="container-fluid" style=" padding: 0px;">
    <div class="imgproductos " style="margin: 74px 0 0 0; padding: 0px; background-color: #BCB9D8;">
        <div class="card imgproductos" style="width: 12rem;">
            <img src="https://fakeimg.pl/180x230/533380/8488B5?text=Productos" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">
                    Producto:...<br>Talle/medidas:...<br> Precio:...
                </p>
            </div>
        </div>
        <div class="card imgproductos" style="width: 12rem;">
            <img src="https://fakeimg.pl/180x230/533380/8488B5?text=Productos" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">
                    Producto:...<br>Talle/medidas:...<br> Precio:...
                </p>
            </div>
        </div>
        <div class="card imgproductos" style="width: 12rem;">
            <img src="https://fakeimg.pl/180x230/533380/8488B5?text=Productos" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">
                    Producto:...<br>Talle/medidas:...<br> Precio:...
                </p>
            </div>
        </div>
        <div class="card imgproductos" style="width: 12rem;">
            <img src="https://fakeimg.pl/180x230/533380/8488B5?text=Productos" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">
                    Producto:...<br>Talle/medidas:...<br> Precio:...
                </p>
            </div>
        </div>
        <div class="card imgproductos" style="width: 12rem;">
            <img src="https://fakeimg.pl/180x230/533380/8488B5?text=Productos" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">
                    Producto:...<br>Talle/medidas:...<br> Precio:...
                </p>
            </div>
        </div>
        <div class="card imgproductos" style="width: 12rem;">
            <img src="https://fakeimg.pl/180x230/533380/8488B5?text=Productos" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">
                    Producto:...<br>Talle/medidas:...<br> Precio:...
                </p>
            </div>
        </div>
        <div class="card imgproductos" style="width: 12rem;">
            <img src="https://fakeimg.pl/180x230/533380/8488B5?text=Productos" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">
                    Producto:...<br>Talle/medidas:...<br> Precio:...
                </p>
            </div>
        </div>
        <div class="card imgproductos" style="width: 12rem;">
            <img src="https://fakeimg.pl/180x230/533380/8488B5?text=Productos" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">
                    Producto:...<br>Talle/medidas:...<br> Precio:...
                </p>
            </div>
        </div>
        <div class="card imgproductos" style="width: 12rem;">
            <img src="https://fakeimg.pl/180x230/533380/8488B5?text=Productos" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">
                    Producto:...<br>Talle/medidas:...<br> Precio:...
                </p>
            </div>
        </div>
        <div class="card imgproductos" style="width: 12rem;">
            <img src="https://fakeimg.pl/180x230/533380/8488B5?text=Productos" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">
                    Producto:...<br>Talle/medidas:...<br> Precio:...
                </p>
            </div>
        </div>
        <div class="card imgproductos" style="width: 12rem;">
            <img src="https://fakeimg.pl/180x230/533380/8488B5?text=Productos" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">
                    Producto:...<br>Talle/medidas:...<br> Precio:...
                </p>
            </div>
        </div>
        <div class="card imgproductos" style="width: 12rem;">
            <img src="https://fakeimg.pl/180x230/533380/8488B5?text=Productos" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">
                    Producto:...<br>Talle/medidas:...<br> Precio:...
                </p>
            </div>
        </div>
        <div class="card imgproductos" style="width: 12rem;">
            <img src="https://fakeimg.pl/180x230/533380/8488B5?text=Productos" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">
                    Producto:...<br>Talle/medidas:...<br> Precio:...
                </p>
            </div>
        </div>
        <div class="card imgproductos" style="width: 12rem;">
            <img src="https://fakeimg.pl/180x230/533380/8488B5?text=Productos" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">
                    Producto:...<br>Talle/medidas:...<br> Precio:...
                </p>
            </div>
        </div>
        <div class="card imgproductos" style="width: 12rem;">
            <img src="https://fakeimg.pl/180x230/533380/8488B5?text=Productos" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">
                    Producto:...<br>Talle/medidas:...<br> Precio:...
                </p>
            </div>
        </div>
        <div class="card imgproductos" style="width: 12rem;">
            <img src="https://fakeimg.pl/180x230/533380/8488B5?text=Productos" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">
                    Producto:...<br>Talle/medidas:...<br> Precio:...
                </p>
            </div>
        </div>
        <div class="card imgproductos" style="width: 12rem;">
            <img src="https://fakeimg.pl/180x230/533380/8488B5?text=Productos" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">
                    Producto:...<br>Talle/medidas:...<br> Precio:...
                </p>
            </div>
        </div>
        <div class="card imgproductos" style="width: 12rem;">
            <img src="https://fakeimg.pl/180x230/533380/8488B5?text=Productos" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">
                    Producto:...<br>Talle/medidas:...<br> Precio:...
                </p>
            </div>
        </div>
        <div class="card imgproductos" style="width: 12rem;">
            <img src="https://fakeimg.pl/180x230/533380/8488B5?text=Productos" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">
                    Producto:...<br>Talle/medidas:...<br> Precio:...
                </p>
            </div>
        </div>
        <div class="card imgproductos" style="width: 12rem;">
            <img src="https://fakeimg.pl/180x230/533380/8488B5?text=Productos" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">
                    Producto:...<br>Talle/medidas:...<br> Precio:...
                </p>
            </div>
        </div>
        <div class="card imgproductos" style="width: 12rem;">
            <img src="https://fakeimg.pl/180x230/533380/8488B5?text=Productos" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">
                    Producto:...<br>Talle/medidas:...<br> Precio:...
                </p>
            </div>
        </div>
        <div class="card imgproductos" style="width: 12rem;">
            <img src="https://fakeimg.pl/180x230/533380/8488B5?text=Productos" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">
                    Producto:...<br>Talle/medidas:...<br> Precio:...
                </p>
            </div>
        </div>
        <div class="card imgproductos" style="width: 12rem;">
            <img src="https://fakeimg.pl/180x230/533380/8488B5?text=Productos" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">
                    Producto:...<br>Talle/medidas:...<br> Precio:...
                </p>
            </div>
        </div>
        <div class="card imgproductos" style="width: 12rem;">
            <img src="https://fakeimg.pl/180x230/533380/8488B5?text=Productos" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">
                    Producto:...<br>Talle/medidas:...<br> Precio:...
                </p>
            </div>
        </div>
        <div class="card imgproductos" style="width: 12rem;">
            <img src="https://fakeimg.pl/180x230/533380/8488B5?text=Productos" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">
                    Producto:...<br>Talle/medidas:...<br> Precio:...
                </p>
            </div>
        </div>
        <div class="card imgproductos" style="width: 12rem;">
            <img src="https://fakeimg.pl/180x230/533380/8488B5?text=Productos" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">
                    Producto:...<br>Talle/medidas:...<br> Precio:...
                </p>
            </div>
        </div>
        <div class="card imgproductos" style="width: 12rem;">
            <img src="https://fakeimg.pl/180x230/533380/8488B5?text=Productos" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">
                    Producto:...<br>Talle/medidas:...<br> Precio:...
                </p>
            </div>
        </div>
        <div class="card imgproductos" style="width: 12rem;">
            <img src="https://fakeimg.pl/180x230/533380/8488B5?text=Productos" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">
                    Producto:...<br>Talle/medidas:...<br> Precio:...
                </p>
            </div>
        </div>
        <div class="card imgproductos" style="width: 12rem;">
            <img src="https://fakeimg.pl/180x230/533380/8488B5?text=Productos" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">
                    Producto:...<br>Talle/medidas:...<br> Precio:...
                </p>
            </div>
        </div>
        <div class="card imgproductos" style="width: 12rem;">
            <img src="https://fakeimg.pl/180x230/533380/8488B5?text=Productos" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">
                    Producto:...<br>Talle/medidas:...<br> Precio:...
                </p>
            </div>
        </div>
    </div>
</div>