<div class="container-fluid novedades">
    <div class="row">
        <div class="col">
            <p class="textnovedades"> 
                <span>Hola {{persona}}! </span>
                <a href="/admin/login/logout" type="button" class="btn btn-outline-dark">Cerrar sesión</a>
            </p>
        </div>
    </div>
</div>