/*
font-family: "Nerko One", cursive; sub?
font-family: "Merriweather", serif; sub?
font-family: "Montserrat", sans-serif; textos
font-family: "Cinzel Decorative", serif; nombre pag
#BCB9D8
*/

.container-fluid {
    font-family: "Montserrat", sans-serif;
}

.navbar {
    background-color: #636A99;
    font-size: large;
    padding: 0;
}

.navbar-text {
    font-family: "Cinzel Decorative", serif;
    font-size: xx-large;
    color: #DEDEEA;
}

.scroll_section{
scroll-margin-top: 74px;
}

.container {
    padding: 0px;
    background-color: #636A99;
}

.seccion-uno {
    background-image: url(../images/Fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 70px;
}


.sobrenosotros {
    background-color: #636a9991;
    text-align: left justify;
    padding: 20px;
}

h4 {
    background-color: #78ACC1;
    text-align: center;
    font-family: "Merriweather", serif;
}

.seccion-dos {
    background-color: #8488b5ea;
    padding: 5px;
}

.productos {
    background-color: #5A9BAD;
    text-align: center;
    font-family: "Merriweather", serif;
    border-radius: 35px;
}

.imgcatalogo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-content: stretch;
    padding: 5px;
    margin: 0px 10px 10px 10px;
}

.imgproductos{
    background-color: #DEDEEA;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 8px 8px 8px 8px;
}

.seccion-tres {
    background-color: #BCB9D8;
    padding: 15px;
}

.listadonovedades {
    background-color: #636a9991;
    text-align: left justify;
    padding: 20px;
}

.contactanos {
    background-color: #98BFD0;
    padding: 10px 50px 10px 50px;
    text-align: center;
}

.linovedades{
    padding:0;
    margin: 0;
    list-style: none;
}

.linovedades li{
 margin: 5px 0;   
}

.linovedades li a{
    background-color: #98BFD0;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    font-size: large;
    color:black;
    transition: all .2s ease-in-out;
    display: block;
}

.linovedades li a:hover{
    color: #DEDEEA;
    background-color: #78ACC1;
}

.linovedades li a img{
    width: 110px;
    height: 50px;
    filter: blur();
    transition: all .2s ease-in-out;
    margin-right: 1rem;
    opacity: 0.7;
}

.linovedades li a:hover img{
    filter: none;
    margin-right: 1.6rem;
    opacity: 1;
}

.consultas{
    background-color: #98BFD0;
    padding: 10px 20px 10px 20px;
}

.input{
    background-color: #78ACC1;
}

.formulario{
    margin-top: 0;
}

.ubicacion {
    background-color: #98BFD0;
    text-align: justify;
    font-family: "Merriweather", serif;
    border: 5px;
    border-color: #5A9BAD;
    padding: 10px 25px 10px 25px;
}

.footer {
    background-color: #636A99;
}

.login{
    background-image: url(../images/Fondo.jpg);
    background-size: cover;
    padding: 10px ;
    margin: 75px 0 0 0;
    font-family: "Montserrat", sans-serif;
}

/*.iconlogin{
    display: flex;
    justify-content: flex-end;
}*/

.formlogin {
    background-color: #636a99c0;
    text-align: left justify;
    padding: 20px;
    border-radius: 20px;
    margin: 0px;
}

.inputlogin{
    background-color: #8488B5;
}

.textlogin{
    background-color:  #8488B5;
    border-radius: 10px;
    font-size: medium; 
    padding: 5px;
}

.plogin{
    margin: 0px;
}
