/*
font-family: "Nerko One", cursive; sub?
font-family: "Merriweather", serif; sub?
font-family: "Montserrat", sans-serif; textos
font-family: "Cinzel Decorative", serif; nombre pag
#BCB9D8
*/

.container-fluid {
    font-family: "Montserrat", sans-serif;
}

.navbar {
    background-color: #636A99;
    font-size: large;
    padding: 0;
}

.navbar-text {
    font-family: "Cinzel Decorative", serif;
    font-size: xx-large;
    color: #DEDEEA;
}

/* .scroll_section{
scroll-margin-top: 74px;
} */

.container {
    padding: 0px;
    background-color: #636A99;
}

.intronov {
    background-color: #98BFD0;
    margin-top: 75px;
}

.textnovedades {
    font-family: "Montserrat", sans-serif;
    padding: 15px;
    text-align: end;
}

h2 {
    font-family: "Merriweather", serif;
    /* margin-left: 25px; */
}

.novedades {
    background-color: #98BFD0;
}

h4{
    background-color: #8488B5;
    text-align: start;
    font-family: "Merriweather", serif;
   padding: 6px;
   margin-bottom: 15px;
}

.agregar{
    background-image: url(../images/fondo_agregar.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 74px;
}

.formagregar{
    background-color: #BCB9D8;
    padding: 10px;
}

.forminput{
    background-color: #8488b596;
}

.footer {
    background-color: #636A99;
}